body {
  background: linear-gradient(to bottom, transparent 0%,#fbf7ca 50%,transparent 100%);

}

h1, .fancy {
  font-family: 'Fredericka the Great', cursive;
  color: pink;
}

h2.fancy {
  font-size: 2rem;
  color: #33c3f0; /* same color as skeleton primary buttons */
}

img {
  object-fit: cover;
  width: 40rem;
  height: 40rem;
}

.search {
  padding-top: 1rem;
}

.image-wrap, .entry {
  background-color: rgba(221, 135, 34, 0.2);
}

.entry {
  background-color: rgba(221, 135, 34, 0.2);
  padding: 2rem;
  border: .5rem solid rgba(51, 195, 240, 0.48);
  margin-bottom: 1rem;
}

#searchButton {
  padding: 0 12px;
}

.delete {
  background-color: red;
  color: white;
}

.toggle {
  display: none;
}

#modal {
  display: none; /* start not displayed */
  z-index: 1;
  position: absolute;
  background: white;
  left: 10%;
  top: 33%;
  width: 80%;
  border-radius: 1em;
  padding: 2rem;
}
